@charset "utf-8";
/* hacku.css */

@media screen and (max-width: 1000px) {
	
	}
@media screen and (max-width: 760px) {
	  /* style */
	}
@media screen and (max-width: 480px) {}
@media screen and (max-width: 320px) {}
 * { /* 全ての要素の間隔・余白を０へ */
margin:0;
padding:0;
}


body {
	margin: 0;
	color: #333;
	text-align: center;
	background-color: #FDFDFD;
	background-image:url(../imgs/back05.jpg);
	background-position: top;
}

img{
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

hr{
	margin:2% auto;
	width:80%;
	border: dashed #C30D23 1px;
}

p, 
#contents li,
dl,
dd
{
	line-height: 160%;
}


p{
	margin: 0px 0em 1.5em 20px;
	font-size: 85%;
}

ul,ol,dl{
	margin: 0em 1em 1em 2em;
}

a:active {
color: #444444;
}

th{
	padding:1%;
}

td{
	padding: 1%;
}



/* ========================================  #page ページ外枠 */
#page {
	width: 80%;
	margin: 0px auto;
}



/* ========================================  #header 画面上部 */
#header {
	height: 90px;
	background-color: #FDFDFD;
	border-top: 10px solid #C30D23;
	border-bottom:15px solid #C30D23;
	color: #FFFFFF;
	box-shadow:0px 0px 5px #999;
	opacity:0.8;
	filter: alpha(opacity=80);
}

#title {
	color: #666666;
	margin: 8px;
}

#login {
    float: center;
}





/* ======================================== #contents 画面中央部 #mainとサイドメニューの外枠 */
#contents{
	padding: 0;
	margin: 0;
	border-bottom: #A0C523;
	border-top: #A0C523;
}


/* ========================================  #main ペ�Eジの本斁E*/
#main {
	float: right;
	margin: 2% 2% 2% 0;
	padding-bottom: 3%;
	width: 65%;
	border-style: dashed;
	border-width: 2px;
	border-color:#C30D23;
	border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px;
	box-shadow:0px 0px 5px #999;
	background-color: #FDFDFD;
	opacity:0.9;
	filter: alpha(opacity=90);
}

#main ul{
	margin:0 auto;
	background-color:#FFF;
	width:90%;	
}

#main li{
	margin: 0 0 1em 0;
	list-style:outside none;
	text-align:center;
	background: #FFF url(../imgs/list_01.gif) no-repeat;
	box-shadow:inset -1px -1px 2px rgba(0,0,0, 0.6),inset 1px 1px 2px rgba(255,255,255,0.8);
}

#main a{
	margin-left:auto;
	display: block;
	text-decoration:none;
	color:  #C30D23;
	border-bottom: dashed  #C30D23 1px;
}

#main1_s{
	padding: 3%;
	background-color: #8DC21F;
	border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px;
	margin:2%;
}

#main2_s{
	padding: 3%;
	background-color: #B0BE23;
	border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px;
	margin:2%;
}

#main3_s{
	padding: 3%;
	background-color: #D4B928;
	border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px;
	margin:2%;
}

#main4_s{
	padding: 3%;
	background: url(../imgs/back01.gif);
	border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px;
	margin:2%;
}

#main1_k{
	padding:3%;
	background-color: #C30D23;
	border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px;
	margin:2%;
}

#main2_k{
	padding: 3%;
	background-color: #D44526;
	border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px;
	margin:2%;
}

#main3_k{
	padding: 3%;
	background-color: #E67D29;
	border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px;
	margin:2%;
}

#main4_k{
	padding: 3%;
	background: url(../imgs/back01.gif);
	border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px;
	margin:2%;
}



#main h1 {
	padding: 1%;
	margin: 3%;
	background: #FFF;
	color: #C30D23;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	text-shadow:1px 1px 3px #999;
	box-shadow:inset -1px -1px 3px rgba(0,0,0, 0.6),inset 1px 1px 3px rgba(255,255,255,0.8);
	box-shadow: 1px 1px 3px rgba(0,0,0, 0.6), 1px 1px 3px rgba(255,255,255,0.8);
	background-color: #FFF;
	border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px;
	border:2px solid  #C30D23;
}


#main h2 {
	color: #D44526;
	clear: both;
	padding: 1%;
	margin: 1%;
	text-shadow:1px 1px 3px #333;
	border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px;
	background-color: #fff;
}

#main h3 {
	color: #E67D29;
}





#map{
	width:80%;
	margin:0 auto;	
	border:solid 1px #fff;
	-moz-box-shadow: inset 0 0 4px rgba(0,0,0,0.2);
	-webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
}

input{
	border:0;
	padding:1%;
	font-size:100%;
	color:#aaa;
	border:solid 1px #ccc;
	-moz-box-shadow: inset 0 0 4px rgba(0,0,0,0.2);
	-webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
	box-shadow: inner 0 0 4px rgba(0, 0, 0, 0.2);
	margin: 1%;
	width: 90%;
}

input:focus {
    border:solid 2px #C30D23;
}

input[type=submit]{
	font-size:120%;
	font-family:Georgia;
	font-weight:normal;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1px solid #d02718;
	padding:5px 15px;
	text-decoration:none;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #c30d22), color-stop(100%, #a60e00) );
	background:-moz-linear-gradient( center top, #c30d22 5%, #a60e00 100% );
	background:-ms-linear-gradient( top, #c30d22 5%, #a60e00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c30d22', endColorstr='#a60e00');
	background-color:#c30d22;
	color:#ffffff;
	display:inline-block;
	text-shadow:1px 1px 0px #c30d22;
 	-webkit-box-shadow:inset 1px 1px 0px 0px #f5978e;
 	-moz-box-shadow:inset 1px 1px 0px 0px #f5978e;
 	box-shadow:inset 1px 1px 0px 0px #f5978e;
}

input[type=button] {
	font-size:120%;
	font-family:Georgia;
	font-weight:normal;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:8px;
	border:1px solid #eeb44f;
	padding:6px 15px;
	text-decoration:none;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #ffce79), color-stop(100%, #eeaf41) );
	background:-moz-linear-gradient( center top, #ffce79 5%, #eeaf41 100% );
	background:-ms-linear-gradient( top, #ffce79 5%, #eeaf41 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffce79', endColorstr='#eeaf41');
	background-color:#ffce79;
	color:#ffffff;
	display:inline-block;
	text-shadow:1px 1px 0px #ce8e28;
 	-webkit-box-shadow:inset 1px 1px 2px 0px #fceaca;
 	-moz-box-shadow:inset 1px 1px 2px 0px #fceaca;
 	box-shadow:inset 1px 1px 2px 0px #fceaca;
}

/* ========================================  menu 左サイドメニュー */
#menu {
	float: left;
	width: 30%;
	margin: 2% 0 0 0;
}

#menu p{
	margin-right: 1em;
	margin-left: 1em;
}


#accountInfo{
	border-style: dashed;
	border-width: 2px;
	border-color:#F7B52C;
	border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px;
	box-shadow:0px 0px 5px #999;
	background-color: #FDFDFD;
	opacity:0.8;
	filter: alpha(opacity=80);
	
}

#joinMenu{
	padding: 2%;
	margin: 8% 0 0 0;
	border-style: dashed;	
	border-width: 2px;
	border-color:#A0C523;
	border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px;
	box-shadow:0px 0px 5px #999;
	background-color: #FDFDFD;
	opacity:0.8;
	filter: alpha(opacity=80);
}

#joinMenu ul{
	margin:0 auto;
	width:90%;	
}

#joinMenu li {
	margin: 0 0 1em 0;
	list-style:outside none;
	text-align:center;
	/*background: #FFF url(../imgs/list_02.gif) no-repeat;*/
}

#joinMenu a{
	margin-left:auto;
	display: block;
	text-decoration:none;
	font-style:italic;
	color:  #357709;
	border-bottom: dashed #A0C523 1px;
}

#manageMenu{
	padding: 2%;
	margin: 8% 0 8% 0;
	border-style: dashed;
	border-width: 2px;
	border-color: #C30D23;
	border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px;
	box-shadow:0px 0px 5px #999;
	background-color: #FDFDFD;
	opacity:0.8;
	filter: alpha(opacity=80);
}

#manageMenu ul{
	margin:0 auto;
	width:90%;	
}


#manageMenu li {
	margin: 0 0 1em 0;
	list-style:outside none;
	text-align:center;
	/*background: #FFF url(../imgs/list_01.gif) no-repeat;*/
	padding:0; 
}

#manageMenu a{
	display: block;
	text-decoration: none;
	font-style:italic;
	color: #800000;
	border-bottom: dashed #C30D23 1px;
}



/* ========================================  #footer 画面下部 */
#footer {
	margin: 8% 0 2% 0;
	padding: 10px 0px;
	color: #FFFFFF;
	text-align: center;
	background-color: #C30D23;
	clear:both;
}



/* ========================================  #templatelink 画面下部:著作リンク */
#templatelink {
	padding: 3px 0px;
	margin: 0px 0px 5px;
	font-size: 14px;
	text-align: right;
}

/* ========================================  そ�Eほか個別設宁E*/


.table{
	margin: 0 auto;
	width: 90%;
}

.img{
	margin: 5% auto;
	max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}



.title{
	padding: 0px 0px 0px 10px;
	margin: 0px 0px 20px;
	border-left: 30px solid #F4CC0B;
}

.label{
	padding: 7px 5px 5px 10px;
	margin: 0px 0px 10px;
	border-left: 10px solid #F4CC0B;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #0B7A8E;
}


.subh {
	padding: 5px 0px 0px 3px;
	margin: 0px;
	border-top: 1px dashed #999999;
	font-weight: bold;
	color: #4A8854;
}

.photo {
	margin: 0px 0px 20px;
}

.toInfo {
	margin: 0px 0px 1em;
	text-align: right;
	list-style-type: none;
}

.box {
	float: left;
	height: 150px;
	width: 200px;
	margin: 0px 10px 15px 0px;
	font-size: 92%;
	background-color: #EBF0F3;
}

.box p{
	margin: 10px !important;
}
